{% extends 'base.html.twig' %}

{% block title %}Nueva Pieza de Arte{% endblock %}

{% block body %}
    <h1>Añadir una Nueva Pieza</h1>

    {{ form_start(formulario) }}
        {{ form_widget(formulario) }}
        <button type="submit" class="btn btn-success mt-3">Guardar</button>
    {{ form_end(formulario) }}

    <a href="{{ path('lista_piezas') }}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}
